@model CardViewModel

@if(Model == null)
{
    <h3>Корзина пустая</h3>
}
else
{
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Стоимость</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Cars)
                    {
                        <tr>
                            <td>@item.car.Name</td>
                            <td>@item.car.Cost</td>
                            <td>@item.Amount</td>
                            <td>@item.Cost</td>
                            <td><div class="text-center">
                                @item.Amount
                                    <a type="button" class="btn btn-dark" href="/Card/Add?carId=@item.car.Id">+</a>
                                    <a type="button" class="btn btn-dark" href="/Card/Delete?carId=@item.car.Id">-</a>
                            </div></td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="text-right">
                <h3>Итого:</h3>
                <h3>@Model.TotalSum</h3>
            </div>
            <div class="text-center">
                <a class="btn btn-dark" href="/Home/Catalog" role="button">Продолжить покупки</a>
                <a class="btn btn-dark"  href="/Order/index" role="button">Оформить заказ</a>
                <a class="btn btn-dark" href="/Card/Clear" role="button">Очистить корзину</a>
            </div>

        </div>
    </div>
}