@model List<CarViewModel>;


<div class="row">
    <br />
    @foreach (var product in Model)
    {

        <div class="col-3 card" style="margin: 10px">

            <img class="card-img-top img-same-size" src="@product.ImagePath" />
            <a style="color:dimgrey; font-size:2.5em" asp-area="" asp-controller="Home" asp-action="Car" asp-route-id="@product.Id">@product.Name</a>
            <p><br />@product.Description</p>
            <p>@product.Cost</p>

            <div class="" style="margin-block-end: 5px">
                <div class="col">
                    <a class="btn btn-dark bi bi-heart" title="Избранное" asp-area="" asp-controller="liked" asp-action="Add" asp-route-carid="@product.Id"> </a>
                    <a class="btn btn-dark bi bi-clipboard2-plus" title="Сравнение" asp-area="" asp-controller="compare" asp-action="add" asp-route-carid="@product.Id"> </a>
                    <a class="btn btn-dark" href="/Card/Add?carId=@product.Id" role="button">Добавить в корзину</a>
                </div>
            </div>

        </div>
    }
</div>