@model UserDeliveryInfo

    @* Форма заказа *@

    @* <div class="col-5 card">
        <h4>Ваш заказ</h4>
        <table class="table" style="font-size:12px">
            <thead>
                <tr>
                    <th style="font-size:12px">Название</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Стоимость</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var carList in Model.Cars)
                {
                    <tr>
                        <th>@carList.car.Name</th>
                        <th>@carList.car.Cost</th>
                        <th>@carList.Amount</th>
                        <th>@carList.Cost</th>
                    </tr>    
                }
            </tbody>
        </table>
        <div class="text-end">
            <h6>Итого: @Model.TotalSum</h6>
        </div>
    </div>
    <div class="col-1"></div> *@

    @* Форма данных покупателя *@
    <div class="col-6">
        <form method="post">
            <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
            <div class="form-group" style="margin:10px">
                <label asp-for="FullName">ФИО*</label>
                <input asp-for="FullName" type="text" class="form-control" placeholder="Фисенко Кирилл Андреевич">
                <span asp-validation-for="FullName"/>
            </div>
            <div class="form-group" style="margin:10px">
                <label asp-for="Email">Email* </label>
                <input asp-for="Email" class="form-control" placeholder="name@example.com">
                <span asp-validation-for="Email"/>
            </div>
            <div class="form-group" style="margin:10px">
                <label asp-for="PhoneNumber">Телефон*</label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="+7 (926) 546-34-69">
                <span asp-validation-for="PhoneNumber"/>
            </div>   
            <div class="form-group" style="margin:10px">
                <label asp-for="Address">Адрес*</label>
                <input asp-for="Address" class="form-control" placeholder="г. Москва, ул. Тверская, д. 1">
                <span asp-validation-for="Address"/>
            </div>
            <div class="text-center" style="margin:30px">
                <a class="btn btn-outline-secondary" asp-controller="home" asp-action="Catalog">Продолжить покупки</a>
                <button class="btn btn-outline-success" type="submit" asp-controller="Order" asp-action="MakeOrder">Оформить заказ</button>
                @* <a class="btn btn-outline-success btn-lg" href="/order/makeOrder" role="button">Оформить заказ</a> *@
            </div>
        </form>
    </div>